In [ ]:
import sqlite3
import pandas as pd

conn=sqlite3.connect(":memory")
cursor=conn.cursor()

cursor.execute("""CREATE TABLE orders (order_id INTEGER PRIMARY KEY,customer_name TEXT, product_name TEXT)""")
order_data=[(1,'Reshma','Hair Serum'),(2,'Meena','Lipstick'),(3,'Fatima','Hair Serum'),(4,'Lata','Sunscreen'),(5,'Meena','Lipstick'),(6,'Asha','Sunscreen')]

cursor.executemany("INSERT INTO orders VALUES(?,?,?)",order_data)
conn.commit()
print("Table created and data inserted.")

In [11]:
df = pd.read_sql_query("SELECT * FROM orders", conn)
print(df)

   order_id customer_name product_name
0         1        Reshma   Hair Serum
1         2         Meena     Lipstick
2         3        Fatima   Hair Serum
3         4          Lata    Sunscreen
4         5         Meena     Lipstick
5         6          Asha    Sunscreen

In [21]:
query = """
WITH order_cte AS (SELECT * FROM orders)
SELECT o1.customer_name AS customer_1,
o2.customer_name AS customer_2,
o1.product_name
FROM order_cte o1 JOIN order_cte o2
ON o1.product_name = o2.product_name
AND o1.customer_name < o2.customer_name"""

df = pd.read_sql_query(query, conn)
print(df)

print("\n Reshma and Fatima both bought Hair Serum — maybe they have similar needs or interests. The system can recommend them similar items in future")

  customer_1 customer_2 product_name
0     Fatima     Reshma   Hair Serum
1       Asha       Lata    Sunscreen

 Reshma and Fatima both bought Hair Serum — maybe they have similar needs or interests. The system can recommend them similar items in future