In [3]:
import sqlite3

conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE sales (
  id INTEGER PRIMARY KEY,
  product TEXT,
  revenue INTEGER
)
""")
print("create")

create

In [4]:
data = [
  ('Product A', 100),
  ('Product B', 150),
  ('Product C', 200),
  ('Product D', 150),
  ('Product E', 250),
  ('Product F', 300),
  ('Product G', 150),
  ('Product H', 400),
  ('Product I', 100),
  ('Product J', 350),
  ('Product K', 150),
  ('Product L', 250)
]

cursor.executemany("INSERT INTO sales (product, revenue) VALUES (?, ?)", data)
conn.commit()

In [5]:
cursor.execute("SELECT printf('%.2f', AVG(revenue)) FROM sales")
print("Mean (AVG):", cursor.fetchone()[0])

Mean (AVG): 212.50

In [6]:
cursor.execute("SELECT MAX(revenue) - MIN(revenue) FROM sales")
print("Range:", cursor.fetchone()[0])

Range: 300

In [7]:
print("Mode:", cursor.execute("SELECT revenue FROM sales GROUP BY revenue ORDER BY COUNT(*) DESC LIMIT 1").fetchone()[0])

Mode: 150

In [8]:
revenues = [r[0] for r in cursor.execute("SELECT revenue FROM sales ORDER BY revenue").fetchall()]
print("Median:", (revenues[len(revenues)//2] + revenues[(len(revenues)-1)//2]) / 2)

Median: 175.0

In [9]:
import math

mean = cursor.execute("SELECT AVG(revenue) FROM sales").fetchone()[0]
values = [r[0] for r in cursor.execute("SELECT revenue FROM sales").fetchall()]
variance = sum((x - mean) ** 2 for x in values) / len(values)
stddev = math.sqrt(variance)
print("Variance:", round(variance, 2))
print("Standard Deviation:", round(stddev, 2))

Variance: 8802.08
Standard Deviation: 93.82